Source: ros-lunar-desistek-saga-control
Section: misc
Priority: extra
Maintainer: Emre Ege <emre.ege@desistek.com.tr>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-desistek-saga-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-desistek-saga-description, ros-lunar-uuv-control-cascaded-pid, ros-lunar-uuv-thruster-manager
Description: Configuration and launch files to control the Desistek SAGA ROV
